@import '../../static/variables/_variables.scss';

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: $header-background-color;
  color: $light-text-color;
  @media screen and (max-width: 700px) {
    background-color: rgba(255, 255, 255, 0);
  }
}

.menu {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    // width: 320px;
    gap: 0px;
    align-items: flex-start;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  color: $light-text-color;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
  @media screen and (max-width: 700px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}

.menu_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  width: 60%;
  @media screen and (max-width: 700px) {
    gap: 0px;
    width: 100%;
    height: 70px;
    background-color: $header-background-color;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    justify-content: center;
    width: 100%;
  }
}

.menu_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  width: 40%;
  @media screen and (max-width: 700px) {
    width: 100%;
    background-color: $background-color;
    gap: 10px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    width: 100%;
    background-color: $background-color;
    gap: 10px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: $header-categories-bg-color;
  width: 225px;
  height: 100%;
  padding: 20px 0px;
  color: $light-text-color;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 10px;
  font-weight: 500;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    text-align: left;
    gap: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 30px 20px;
    text-align: left;
    gap: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}

.categories_title {
  @media screen and (max-width: 700px) {
    width: 50%;
  }
}

.categories_icon {
  width: 15px;
  height: 15px;
  filter: invert(20%);
  transition: .5s;
  @media screen and (max-width: 700px) {
    width: 35px;
    height: 35px;
    filter: invert(0%);
  }
}

.reversed {
  transform: rotate(180deg);
  transition: .5s;
}

.logo {
  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 10px;
    &>img {
      width: 90%;
      height: auto;
    }
  }
}

.vk {
  width: 115px;
  display: flex;
  justify-content: flex-start;
  padding: 7px;
  transition: background-color .5s;
  border-radius: 5px;
  text-align: left;
  outline: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  &:hover {
    color: $header-background-color;
    background-color: #ffffff;
    &>img {
      filter: invert(0.5) sepia(1) saturate(80) hue-rotate(200deg);
    }
  }
  @media screen and (max-width: 700px) {
    margin-top: 20px;
    color: $header-background-color;
    outline: 1px solid $header-background-color;
    padding: 10px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    margin-top: 20px;
    color: $header-background-color;
    outline: 1px solid $header-background-color;
    padding: 10px;
  }
}

.vk_title {
  width: 50%;
}

.new_ad {
  width: 140px;
  display: flex;
  justify-content: flex-start;
  padding: 7px;
  background-color: $green-bg-color;
  transition: background-color .5s;
  border-radius: 5px;
  text-align: left;
  &:hover {
    background-color: $green-bg-color-hover;
  }
  @media screen and (max-width: 700px) {
    margin-top: 20px;
    padding: 10px;
    width: 166px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    margin-top: 20px;
    padding: 10px;
    width: 166px;
  }
}

.new_ad_title {
  width: 50%;
}

.catalog {
  position: absolute;
  top: 55px;
  display: flex;
  opacity: 0;
  // visibility: hidden;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 50px;
  width: 100%;
  color: $light-text-color;
  background-color: $header-categories-bg-color;
  padding: 30px 0px;
  transition: .5s;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    overflow-y: auto;
    height: 300px;
    top: 70px;
    gap: 20px;
    padding: 20px 0px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    flex-wrap: wrap;
    overflow-y: auto;
    height: 300px;
  }
  &.showed {
    opacity: 1;
    visibility: visible;
    transition: .5s;
    height: 331px;
    @media screen and (max-width: 700px) {
      height: 300px;
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    height: 0px;
    padding: 0;
  }
}

.catalog_col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 15%;
  height: 100%;
  &:nth-child(2) {
    border-left: #222222 1px solid;
    border-right: #222222 1px solid;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    height: auto;
    border: none;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    width: 100%;
    height: auto;
    border: none;
  }
}

.catalog_item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 0px 20px;
}

.catalog_icon {
  background-color: #efefef;
  padding: 5px;
  border-radius: 50px;
  object-fit: contain;
}

.catalog_category {
  font-size: 16px;
}