@import '../../static/variables/_variables.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  // height: 80px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: $header-background-color;
  color: $light-text-color;
  @media screen and (max-width: 700px) {
    gap: 0px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    gap: 0px;
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  outline: none;
  color: $light-text-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  @media screen and (max-width: 700px) {
    font-size: 12px;
    gap: 10px;
  }
}

.menu_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  @media screen and (max-width: 700px) {
    gap: 0px;
    width: 100%;
    height: 70px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    justify-content: center;
    width: 100%;
  }
}

.menu_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  @media screen and (max-width: 700px) {
    width: 100%;
    background-color: $background-color;
    padding: 0px 5%;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    width: 100%;
    background-color: $background-color;
    padding: 0px 5%;
    padding-bottom: 20px;
  }
}

.categories {
  background-color: $header-categories-bg-color;
  height: 100%;
  padding: 30px 50px;
  color: $light-text-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  @media screen and (max-width: 700px) {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    text-align: left;
    color: #efefef;
    font-size: 14px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 30px 20px;
    text-align: left;
    color: #efefef;
    font-size: 14px;
  }
}

.categories_title {
  width: 50%;
}

.logo {
  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 10px;
    &>img {
      width: 90%;
      height: auto;
    }
  }
}

.vk {
  padding: 10px 0px;
  height: 70%;
  transition: background-color .5s;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  &:hover {
    color: $header-vk-bg-color-hover;
    background-color: #ffffff;
  }
  @media screen and (max-width: 700px) {
    margin-top: 20px;
    color: $header-vk-bg-color-hover;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    margin-top: 20px;
    color: $header-vk-bg-color-hover;
  }
}

.vk_title {
  width: 50%;
}

.new_ad {
  padding: 10px 0px;
  height: 70%;
  background-color: $green-bg-color;
  transition: background-color .5s;
  border-radius: 5px;
  text-align: left;
  &:hover {
    background-color: $green-bg-color-hover;
  }
  @media screen and (max-width: 700px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    margin-top: 20px;
  }
}

.new_ad_title {
  width: 50%;
}

.catalog {
  position: absolute;
  top: 85px;
  display: flex;
  opacity: 0;
  // visibility: hidden;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 50px;
  width: 100%;
  color: $light-text-color;
  background-color: $header-categories-bg-color;
  padding: 30px 0px;
  transition: .5s;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    overflow-y: auto;
    height: 300px;
    top: 70px;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    flex-wrap: wrap;
    overflow-y: auto;
    height: 300px;
  }
  &.showed {
    opacity: 1;
    visibility: visible;
    transition: .5s;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
}

.catalog_col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 15%;
  height: 100%;
  &:nth-child(2) {
    border-left: #222222 1px solid;
    border-right: #222222 1px solid;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    height: auto;
    border: none;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    width: 100%;
    height: auto;
    border: none;
  }
}

.catalog_item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 0px 20px;
}

.catalog_icon {
  background-color: #efefef;
  padding: 5px;
  border-radius: 50px;
  object-fit: contain;
}

.catalog_category {
  font-size: 16px;
}

.reversed {
  transform: rotate(180deg);
}