@import '../../static/variables/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
  padding: 20px 0px;
  @media screen and (max-width: 700px) {
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-weight: 600;
}