@import '../../static/variables/variables';

.create {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 35px;
  width: 50%;
  background-color: $accent-background-color;
  border-radius: 5px;
  margin-top: 30px;
  -webkit-tap-highlight-color: transparent;
  &.rolled {
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    width: 90%;
  }
  @media screen and (min-width: 700px) and (max-width: 1400px) {
    width: 90%;
  }
}

.hide {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  color:#8a8a8a;
  cursor: pointer;
  user-select: none;
}

.create_header {
  width: 100%;
  font-size: 32px;
}

.create_subheader {
  width: 100%;
}

.bold {
  font-weight: 700;
}

.ad_text {
  position: relative;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: #e5e5e5 1px solid;
  outline: none;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: $font-family;
}

.limit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  @media screen and (max-width: 700px) {
    bottom: 10px;
    right: 5px;
  }
}

.contacts {
  width: 100%;
  padding: 15px 20px;
  font-family: $font-family;
  border: #e5e5e5 1px solid;
  outline: none;
  border-radius: 5px;
}

.category {
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  padding: 15px 20px;
  font-family: $font-family;
  border: #e5e5e5 1px solid;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.category_option {
  font-family: $font-family;
}

.price {
  width: 30%;
  padding: 15px 20px;
  font-family: $font-family;
  border: #e5e5e5 1px solid;
  outline: none;
  border-radius: 5px;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.photos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.photos_gallery {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  border: #dfdfdf 1px solid;
  border-radius: 5px;
}

.file_preview {
  width: 24%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  border: #dfdfdf 1px solid;
}

.photos_btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 700px) {
    justify-content: center;
    gap: 10px;
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  outline: none;
  color: $light-text-color;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 14px;
  font-weight: 500;
  @media screen and (max-width: 700px) {
    font-size: 12px;
    height: 50px;
    padding: 0;
  }
}

.add_photo {
  text-align: center;
  color: $blue-color;
  background-color: rgba(255, 255, 255, 0);
  transition: .5s;
  border: $blue-color 1px solid;
  &:hover {
    background-color: $blue-color;
    color: $light-text-color;
  }
  @media screen and (max-width: 700px) {
    width: 40%;
  }
}

.publish {
  color: $light-text-color;
  background-color: $green-bg-color;
  transition: background-color .5s;
  &:hover {
    background-color: $green-bg-color-hover;
  }
  @media screen and (max-width: 700px) {
    width: 55%;
  }
}

.file_input {
  display: none;
}

.cross {
  filter: invert(70%);
}

.arrowdown {
  filter: invert(30%);
}

.hide_title {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.hidden {
  display: none;
}

.modal_thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.thanks {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  gap: 20px;
}

.thanks_like {
  width: 100px;
  height: 100px;
}

.thanks_header {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.thanks_subheader {
  text-align: center;
  width: 100%;
}

.modal_close {
  position: relative;
  bottom: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: #ffffff 2px solid;
  background: none;
  z-index: 4;
}

.invalid {
  border: #ff4646 1px solid;
}