$font-family: 'Montserrat';

$text-color: #282828;
$light-text-color: #ffffff;

$background-color: #efefef;
$accent-background-color: #fbfbfb;

$header-background-color: #0e52a0;
$header-categories-bg-color: #0a4589;

$green-bg-color: #80bd0b;
$green-bg-color-hover: #58a20a;

$header-vk-bg-color-hover: #0077FF;


$blue-color: #0e52a0;